.dsn{
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100%;
  color: #333;
  &__header{
    height: 131px;
    &__logo{
      height: 60px;
      width: 190px;
      text-align: center;
      margin: 0 auto;
      padding-top: 38px;
      .home{
        line-height: 131px;
      }
    }
  }
  &__main{
    background-color: white;
    font-size: 14px;
    width:460px;
    margin:0 auto;
    &__header{
      padding: 55px 20px;
      text-align: center;
      .registration{
        width: 100%;
        height: 70px;
        .text{
          font-size: 15px;
          padding-bottom: 30px;
        }
        &__btn{
          padding: 10px 80px;
          background-color: #0099E8;
          color: white;
          font-size: 14px;
          text-decoration: none;
          border-radius: 6px;
        }
      }
    }
    &__contents{
      height: 300px;
      padding: 40px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &__list{
        width: 350px;
        margin: 0 auto;
        &__form{
          align-items: center;
          margin: 0 auto;
          .login{
            align-items: center;
            margin: 0 auto;
            margin-left: 28px;
            font-size: 17px;
            font-weight: bold;
          }
          p{
            font-size: 14px;
            margin-left: 28px;
          }
          .new_user{
            margin-top: 20px;
            width: 350px;
            height: 80px;
            .field{
              width: 80%;
              height: 48px;
              margin: 10px 35px;
              padding: 0px 16px;
              border-radius: 6px;
              border: 1px solid #ccc;
              font-size: 16px;
            }
            .actions{
              height:100px;
              text-align: center;
              margin-top: 20px;
              .login_btn{
                padding: 10px 110px;
                border-radius: 6px;
                font-size: 15px;
                color: white;
                background-color: red;
              }
            }
          }
        } 
      }
    }  
  }
  &__footer{
    width:700px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    &__contents{
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 180px;
      text-align: center;
      &__link{
        text-decoration: none;
        font-size: 12px;
        color: #333;
        padding: 0px 30px;
      }
      &__logo{
        margin-top: 40px;
      }
    }
  }
}