// 変数定義/akama
$base-black-color: #333333;
$frima-base-color: #3ccace;
$link-base-color: #0095ee;

// 変数定義/nozaki
$ishow-back-color:#f8f8f8;
$normal-white:#fff;
$normal-gray:#eee;
$table-border-coler:#dedede;
$link-text-color: #3CCACE;
$link-text-hovercolor: #1ff3f3;
$default-font-black: #333;
$staydestroy_btn: gray;
$staydestroy_btn_hover:rgb(184, 181, 181);

// 変数定義/tanaka
$global-back-color:#f5f5f5;
$hover-gray:#fafafa;
$normal-red: #ea352d;
$link-text-blue: #0099e8;
