%aside.ii__appBanner
  .ii__appBanner__inner
    %h2.ii__appBanner__inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.ii__appBanner__inner__text 今すぐ無料ダウンロード！
    .ii__appBanner__inner__icon
      =link_to "#" do
        = image_tag "material/icon/app-store-icon.svg", class: "ii__appBanner__inner__icon__logo" 
      =link_to "#" do
        = image_tag "material/icon/google-play-icon.svg", class: "ii__appBanner__inner__icon__logo" 