.mypage_l-side
  %nav.mypage_l-side__nav
    %ul.mypage_l-side__nav__list
      %li
        = link_to cards_path do
          .mypage_l-side__nav__list__item
            支払い方法
            %i.fas.fa-angle-right
      %li
        = link_to sign_out_user_path do
          .mypage_l-side__nav__list__item
            ログアウト
            %i.fas.fa-angle-right