.uso

  = render partial: "partials/header"

  %main.uso__container
    .uso__container__list
      .uso__container__list__btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete

  = render partial: "partials/footer"
