.ic {
  background: #f5f5f5;

  .ic__main {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    margin: 40px auto;

    &__container {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      h2 {
        font-weight: 600;
      }
    }
    &__flame {
      border-top: 1px solid #f5f5f5;
      text-align: center;
      .ic__buy {
        max-width: 343px;
        margin: 0 auto;
        &__box {
          display: flex;
          padding: 32px 16px;
          &__image {
            height: 80px;
            width: 80px;
            min-width: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 80px;
              height: 80px;
              vertical-align: middle;
            }
          }
          &__detail {
            margin-left: 16px;
            &__name {
              font-size: 14px;
              margin: 0;
              padding: 0 0 8px;
              line-height: 1.5;
              text-align: left;
              &__price {
                margin: 0;
                text-align: left;
                font-size: 15px;
                font-weight: 600;
                .price {
                  font-size: 15px;
                }
                span {
                  font-size: 15px;
                }
                .ic__buy__box__detail__name__fee {
                  font-size: 12px;
                }
              }
            }
            
          }
        }
      }
    }
    &__container__info {
      text-align: center;
      border-top: 1px solid #f5f5f5;
      form {
        max-width: 343px;
        margin: 0 auto;
        .ic__main__container__info__inner {
          padding: 32px 0;
          border-top: 1px solid #f5f5f5;
          text-align: left;
          ul {
            display: table;
            border-collapse: collapse;
            width: 100%;
            li {
              font-weight: 600;
              display: flex;
              justify-content: space-between;
              height: 30px;
              .ic__main__container__info__inner__table__head {
                font-size: 18px;
                line-height: 30px;
                height: 30px;
                span {
                  vertical-align: bottom;
                  line-height: 30px;
                  height: 30px;
                }
              }
              .ic__main__container__info__inner__table__price {
                font-weight: 600;
                display: table-cell;
                padding: 0;
                text-align: right;
                vertical-align: center;
                span {
                  font-size: 38px;
                  line-height: 30px;
                }
              }
            }
          }
          .box {
            text-align: left;
            h3 {
              font-weight: 600;
              font-size: 14px;
            }
            .ic__main__container__info__inner__list {
              text-align: left;
              margin: 8px 0 0;
              font-size: 14px;
            }
            img {
              margin-top: 8px;
            }
          }
        }
        .ic__main__container__info__inner__text {
          margin: 0;
          font-size: 14px;
          text-align: left;
          border-top: 1px solid #f5f5f5;
          padding: 32px 0;
          .distination {
            font-weight: 600;
            max-width: 343px;
            margin: 0 auto;
          }
          address {
            text-align: left;
            margin: 8px 0 0;
            font-size: 14px;
            line-height: 1.4;
          }
        }
        .ic__main__container__info__inner__bottom {
          margin: 0;
          font-size: 14px;
          text-align: left;
          border-top: 1px solid #f5f5f5;
          padding: 32px 0;
          .purchase {
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
          }
        }
      }
    }
  }

}
