// 必須マークのスパンタグ
.required {
  background-color: $frima-base-color;
  color: white;
  padding: 3px;
  font-weight: 100;
  border-radius: 3px;
  font-size: 10px;
}



.in {
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 227, 227);
  overflow: scroll;
  &__main {
    width: 649px;
    margin: auto;
    background-color: white;
    &__discription {
      @include in-block;
      &__name {
        @include in-common-index;
      }
      &__textForm {
        @include in-common-form;
      }
      &__text {
        @include in-common-index;
      }
      &__form {
        width: 100%;
        height: 160px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        padding: 13px 16px;
      }
    }
    &__show {
      @include in-block;
      &__title {
        @include in-common-title;
      }
      &__category {
        @include in-common-index()
      }
      &__categoryForm {
        @include in-common-form;
        margin-top: 10px;
        font-weight: normal;
      }
      &__condition {
        @include in-common-index;
      }
      &__form {
        @include in-common-form;
      }
    }
    &__ship {
      @include in-block;
      &__title {
        @include in-common-title;
      }
      &__charge {
        @include in-common-index;
      }
      &__chargeForm {
        @include in-common-form;
      }
      &__region {
        @include in-common-index;
      }
      &__regionForm {
        @include in-common-form;
      }
      &__day {
        @include in-common-index;
      }
      &__form {
        @include in-common-form;
      }
    }
    &__price {
      padding: 40px 20px;
      &__title {
        @include in-common-title;
      }
      &__group {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &__left {
          @include in-common-index;
          width: 50%;
        }
        &__right {
          display: flex;
          align-items: center;
          width: 50%;
          &__icon {
            margin-right: 5px;
          }
          &__form {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 0 16px;
            color: #222;
            height: 48px;
            outline: none;
            text-align: right;

          }
        }
      }
      &__group2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(235, 235, 235);
        &__feeTitle {
          color: $base-black-color;
          margin-bottom: 20px;
        }
        &__fee  {

        }
      }
      &__group {
        &__profitTitle {
          color: $base-black-color;
        }
        &__profit {

        }
      }
    }
    &__btn {
      padding: 40px 20px;
      &__exhibit {
        width: 330px;
        height: 48px;
        background-color: $frima-base-color;
        color: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        margin-bottom: 20px;
      }
      &__back {
        color: $link-base-color;
        display: block;
        text-decoration: none;
        text-align: center;
      }
    }
    &__caution {
      padding: 40px 20px;
      font-size: 12px;
      line-height: 1.4em;
      &__link {
        color: $link-base-color;
        text-decoration: none;
      }
    }
  }
}


// 商品画像のCSS

.items_new-newimage{
  @include in-block;
  .items_new-product__headline{
    // height: 35px;
    width: 100%;
    display: flex;
    &--title{
      @include in-common-index;
    }
  }
  .items_new-product__explanation{
    height: 20px;
    width: 100%;
    font-size: 13px;
    margin-bottom: 20px;
  }
  .items_new-image {
    .items_new-image-box{
      display: flex;
      min-height: 150px;
      width: 100%;
      .items_new-content{
        display: flex;
        height: 150px;
        max-width: 100%;
      }
      .items_new-uploader-box{
        height: 150px;
        width: 100%;
        background-color: #f8f8f8;
        border: dashed 1px #d3d3d3;
        .items_new-uploader__label{
          display:block;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
}





.items_new-preview-box{
  text-align: center;
  padding: 10px;
  // margin: 0 10px;
  border: dashed 1px #d3d3d3;
}

.items_new-js-remove {
  color: $frima-base-color;
}