.drc{
  background-color: #f5f5f5;
  width: 100%;
  color: #333;
  &__header{
    height: 131px;
    &__logo{
      height: 60px;
      width: 190px;
      text-align: center;
      margin: 0 auto;
      padding-top: 38px;
      .home{
        line-height: 131px;
      }
    }
  }
  &__main{
    background-color: white;
    font-size: 14px;
    width:460px;
    margin:0 auto;
    &__header{
      padding: 10px 10px;
      text-align: center;
      .complete{
        width: 100%;
        height: 70px;
        .text{
          font-size: 17px;
          font-weight: bold;
          line-height: 70px;
        }
      }
    }
    &__contents{
      height: 200px;
      padding: 10px 16px 5px;
      border-top: 1px solid #f5f5f5;
      &__list{
        width: 350px;
        margin: 0 auto;
        &__form{
          text-align: center;
          margin: 0 auto;
          .login{
            align-items: center;
            margin: 0 auto;
            font-size: 17px;
            font-weight: bold;
          }
          p{
            font-size: 16px;
            font-weight: bold;
          }
          a{
            text-decoration: none;
            line-height: 8;
            padding: 10px 110px;
            border-radius: 6px;
            font-size: 15px;
            color: white;
            background-color: red;
          }
        }
      }
    }
  }
  &__footer{
    width: 700px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    &__contents{
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 180px;
      text-align: center;
      &__link{
        text-decoration: none;
        font-size: 12px;
        color: #333;
        padding: 0px 15px;
      }
      &__logo{
        margin-top: 40px;
      }
    }
  }
}