.drna{
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100%;
  color: #333;
  line-height: 1;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__header{
    height: 128px;
    &__box{
      width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      &__left{
        width: 50%;
        text-align: center;
        display: inline-block;
        line-height: 128px;
        margin-top: 20px;
      }    
      &__right{
        width: 50%;
        text-align: center;
        display: inline-block;
        line-height: 128px;
        &__login{
          &__btn{
            text-decoration: none;
            color: black;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid;
            padding: 15px;
          }
        }
      }
    }
  }
  &__main{
    background-color: white;
    font-size: 14px;
    width:750px;
    margin:0 auto;
    &__header{
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      text-align: center;
    }
    &__contents{
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &__list{
        width: 350px;
        margin: 0 auto;
        #error_explanation{
          width :400px;
          margin: 10px 0px 30px;
          color: red;
          h2{
            padding-bottom: 10px;
          }
          li{
            padding: 5px 0px 5px 10px;
          }
        }
        &__form{
          .address{
            .address_information{
              height: 20px;
              padding: 20px 0px;
              margin-bottom: 30px;
              h1{
                font-weight: bold;
                font-size: 18px;
              }
            }  
            .form_group{
              &__label{
                font-weight: 600;
              }
              .require{
                margin: 0 0 0 8px;
                padding: 2px 4px;
                border-radius: 2px;
                font-weight: 100;
                color:white;
                background-color: red;
                font-size: 12px;
              }
              &__input{
                display: flex;
                margin-bottom: 24px;
                .field_with_errors {
                  display: contents;
                  // もしくは diplay: inline;
                }  
                &__inf{
                  width: 50%;
                  height: 48px;
                  margin-right: 10px;
                  margin-top: 10px;
                  padding: 0px 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  font-size: 16px;
                }
              }
              &__select{
                margin: 20px 10px 15px 10px;
                width: 320px;
                height: 50px;
                background-color: white;
              }
              &__text{
                width: 100%;
                height: 48px;
                margin: 15px 16px 15px;
                padding: 0px 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
                max-width: 316px;
              }
            }
            .actions{
              height: 120px;
              text-align: center;
              margin: 0px;
              margin-top: 50px;
              input{
                padding: 10px 110px;
                border-radius: 6px;
                font-size: 15px;
                color: white;
                background-color: red;
              }
            }
          }
        } 
      }
    }
  }
  &__footer{
    width:700px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    &__contents{
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 180px;
      text-align: center;
      &__link{
        text-decoration: none;
        font-size: 12px;
        color: #333;
        padding: 0px 30px;
      }
      &__logo{
        margin-top: 40px;
      }
    }
  }
}