.drn{
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100%;
  color: #333;
  line-height: 1;
  position: relative;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  &__header{
    height: 128px;
    &__box{
      width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
      &__left{
        width: 50%;
        text-align: center;
        display: inline-block;
        line-height: 128px;
        margin-top: 20px;
      }    
      &__right{
        width: 50%;
        text-align: center;
        display: inline-block;
        line-height: 128px;
        &__login{
          &__btn{
            text-decoration: none;
            color: black;
            font-weight: bold;
            border-radius: 5px;
            border: 2px solid;
            padding: 15px;
          }
        }
      }
    }
  }
  &__main{
    background-color: white;
    font-size: 14px;
    width:750px;
    margin:0 auto;
    &__header{
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      text-align: center;
    }
    &__contents{
      padding: 24px 16px 40px;
      border-top: 1px solid #f5f5f5;
      &__list{
        width: 350px;
        margin: 0 auto;
        &__form{
          .user_information{
            height: 20px;
            padding-top: 20px 0;
            h1{
              font-weight: bold;
              font-size: 16px;
            }
          }  
          .field{
            width: 350px;
            height: 80px;
            margin: 24px 0 0;
            &__label {
              font-weight: 600;
            }
            .require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              font-weight: 100;
              color:white;
              background-color: red;
              font-size: 12px;
            }
            &__input{
              width: 100%;
              height: 48px;
              margin-top: 10px;
              padding: 0px 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              font-size: 16px;
              max-width: 316px;
            }
          }
          .field__password{
            width: 100%;
            height: 48px;
            margin-top: 10px;
            padding: 0px 16px;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 16px;
            max-width: 316px;
          }
            p{
              margin: 8px, 0px, 0px;
              padding: 10px;
              font-size: 14px;
              color: #888888;
            }
          .field_confirm{
            width: 350px;
            height: 100px;
            margin-top: 50px;
            .require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              font-weight: 100;
              color:white;
              background-color: red;
              font-size: 12px;
              }
            }

          .identification{
            height: 150px;
            padding-top: 20px;
            h2{
              font-weight: bold;
              font-size: 16px;
            }
            ol{
              font-size: 16px;
              padding-top:10px;
            }
          }
          .form_group{
            .require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              font-weight: 100;
              color:white;
              background-color: red;
              font-size: 12px;
            }
            &__input{
              display: flex;
              margin-bottom: 24px;
              &__inf{
                width: 50%;
                height: 48px;
                margin-right: 10px;
                margin-top: 10px;
                padding: 0px 16px;
                border-radius: 4px;
                border: 1px solid #ccc;
                font-size: 16px;
              }
            }
          }  
          .form_birthday{
            .require{
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
              font-weight: 100;
              color:white;
              background-color: red;
              font-size: 12px;
            }
            .form_birthday__selector{
              #user_birthday_1i{
                margin: 20px 10px 0px 10px;
                width: 120px;
                height: 50px;
                background-color: white;
              }
              #user_birthday_2i{
                margin-top: 20px;
                margin-right: 10px;
                width: 90px;
                height: 50px;
                background-color: white;
              }
              #user_birthday_3i{
                margin-top: 20px;
                width: 90px;
                height: 50px;
                background-color: white;
              }
            }
          }
          .address{
            height: 70px;
            margin: 15px 0px 5px;
            h3{
              line-height: 70px;
              font-weight: bold;
              font-size: 16px;
            }
          }
          .actions{
            height:160px;
            text-align: center;
            margin-top: 20px;
            p{
              margin-bottom: 20px;
            }
            input{
              padding: 10px 110px;
              border-radius: 6px;
              font-size: 15px;
              color: white;
              background-color: red;
            }
          }
        }
      }
    }
  }
  &__footer{
    width:700px;
    height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    &__contents{
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      height: 180px;
      text-align: center;
      &__link{
        text-decoration: none;
        font-size: 12px;
        color: #333;
        padding: 0px 30px;
      }
      &__logo{
        margin-top: 40px;
      }
    }
  }
}