.ii

  = render partial: "items/partials/header"

  .ii__main

  
    .is__main__showMain
      .is__main__showMain__contents
        .is__main__showMain__contents__topContent
          .is__main__showMain__contents__topContent__itemBox
            %h2.itemName
            .is__main__showMain__contents__topContent__itemBox__body
            .is__main__showMain__contents__topContent__itemBox__price
            .is__main__showMain__contents__topContent__itemBox__detail
            .is__main__showMain__contents__topContent__itemBox__table
            .is__main__showMain__contents__topContent__itemBox__optionalArea
          .is__main__showMain__contents__topContent__commentBox
        .is__main__showMain__contents__topContent__relatedItems

  -# = render partial: "items/partials/banner"

  -# = render partial: "items/partials/footer"
