.pn__main-container
  %section.pn__main-container__purchase-details
    %h2.pn__main-container__purchase-details__title
      購入内容の確認
    %section.pn__main-container__purchase-details__item
      .pn__main-container__purchase-details__item__inner
        .pn__main-container__purchase-details__item__inner__product
          %h3.pn__main-container__purchase-details__item__inner__product__image
            %img(src="https://suitselect.fs-storage.jp/fs2cabinet/S20/S20SA-06_NV/S20SA-06_NV-m-01-dl.jpg" width="75" height="75")
          %p.pn__main-container__purchase-details__item__inner__product__name
            商品名
            %br
            ネクタイ
        %form.pn__main-container__purchase-details__item__inner__purchase-details
          %p.pn__main-container__purchase-details__item__inner__purchase-details__price
            ¥1500
            %span.pn__main-container__purchase-details__item__inner__purchase-details__price__shipping-fee
              送料込み
          
          %ul.pn__main-container__purchase-details__item__inner__purchase-details__buy-price
            %li.pn__main-container__purchase-details__item__inner__purchase-details__buy-price__box
              .pn__main-container__purchase-details__item__inner__purchase-details__buy-price__box__text
                支払い金額
              .pn__main-container__purchase-details__item__inner__purchase-details__buy-price__box__amount
                %span
                ¥1500
          %ul.pn__main-container__purchase-details__item__inner__purchase-details__use-points
            %li.pn__main-container__purchase-details__item__inner__purchase-details__use-points__top
              .pn__main-container__purchase-details__item__inner__purchase-details__use-points__top__title
                = check_box :group, :user_ids, {class: "check_box"}, true, false
                ポイントを使用(所持ポイント:P0)

    %section.pn__main-container__purchase-details__user-info
      .pn__main-container__purchase-details__user-info__inner
        %h3
          配送先
        %address.pn__main-container__purchase-details__user-info__inner__address
          %br
          東京都渋谷区道玄坂2丁目23-12 フォンティスビル7F
          %br
            テック太郎
        = link_to "" do
          %span
            変更する
          %i.fas.fa-chevron-right
    %section.pn__main-container__purchase-details__user-pay-info
      .pn__main-container__purchase-details__user-pay-info__inner
        %h3
          支払い方法
        %p.pn__main-container__purchase-details__user-pay-info__inner__text
          %br
          ○○○○-1111-✖️✖️✖️✖️
          %br
          12/30
          %br
          JCB

        = link_to "" do
          %span
            変更する
          %i.fas.fa-chevron-right

    %ul.pn__main-container__purchase-details__item__inner__purchase-details__purchase-button
      = link_to method: :post,class: "submit-btn submit-btn-red" do
        %li.pn__main-container__purchase-details__item__inner__purchase-details__purchase-button__box
          購入する

