.cn {
  background: #f5f5f5;

  &__notification {
    width: 100%;
    background-color: #3CCACE;
    text-align: center;
    font-size: 14px;
    color: white;
  }

  &__container {
    margin: 40px auto;
    width: 1020px;
    .cn__title {
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      background: #fff;
      h2 {
        font-size: 24px;
        padding: 8px 24px;
        font-weight: bold;
      }
    }

    .cn__card {
      background: #fff;
      padding: 64px;
      border-top: 1px solid #f5f5f5;
      text-align: center;
      &__inner {
        max-width: 343px;
        margin: 0 auto;
        text-align: left;
        .label {
          font-weight: 600;
          display: inline-block;
          font-size: 14px;
        }
        .blue {
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          background: #3CCACE;
          font-size: 12px;
          vertical-align: top;
        }
        &__head {
          .input-number {
            vertical-align: top;
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          .image {
            margin: 8px 0 0;
            font-size: 0;
            .image_tag {
              display: inline-block;
              margin: 0 0 0 8px;
              vertical-align: middle;
            }
          }
        }
        &__expire {
          margin: 32px 0 0;       
          &__wrap {
            width: calc(50% - 3px);
            margin: 8px 0 0;
            display: inline-block;
              .input-expire {
              position: relative;
              z-index: 2;
              height: 48px;
              padding: 0 16px;
              border-radius: 4px;
              border: 1px solid #ccc;
              background: 0;
              font-size: 16px;
              line-height: 1.5;
              cursor: pointer;
              width: calc(100% - 38px);
            }
            span {
              margin: 0 0 0 8px;
              padding: 2px 4px;
              border-radius: 2px;
            }
          }
        }
        &__security {
          margin-top: 32px;
          .input-number {
            width: 100%;
            margin: 8px 0 0;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
        }
        .content-bottom {
          margin-top: 32px;
          .cn__card__inner__token__btn {
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }

      }
    }
  }
}





