.us {
  background: #f5f5f5;
}

.us__l-container {
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  .us__l-content { 
    float: right;
    width: 700px;
    &__mypage-user-icon {
      position: relative;
      height: 200px;
      padding: 20px;
      text-align: center;
      a {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translate(0, -50%);
        color: #3CCACE;
        text-decoration: none;
        .figure {
          overflow: hidden;
          width: 60px;
          height: 60px;
          margin: 0 auto;
        }
        h2 {
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 1.4;
        }
        .us__l-content__mypage-user-icon__bold {
          font-weight: 600;
        }
        .us__l-content__mypage-user-icon__mypage-number {
          margin: 8px 0 0;
          font-size: 0;
          div {
            display: inline-block;
            font-size: 14px;
            span {
              margin: 0 0 0 8px;
              font-size: 16px;
            }
          }
          div+div {
            margin: 0 0 0 16px;
          }
        }
      }
    }

    &__mypage-tab-container {
      background: #fff;
      &__mypage-tab-head {
        padding: 0 16px;
        background: #fafafa;
        font-size: 16px;
        line-height: 72px;
        font-weight: bold;
      }
      &__mypage-tabs {
        border: 0;
        background: #eee;
        font-size: 0;
        .active {
          background: #fff;
          a {
            border-top: 2px solid #3CCACE;
            font-weight: bold;
          }
        }
        li {
          width: 50%;
          display: inline-block;
          text-align: center;
          vertical-align: top;
          h3 {
            font-size: 22px;
            a {
              position: relative;
              display: block;
              color: #333;
              font-size: 16px;
              line-height: 72px;
              text-decoration: none;
              font-weight: bold;
            }
          }
        }
      }
      ul {
        list-style: none;
      }
    }
    &__tab-content {
      .active {
        display: block;
      }
      ul {
      list-style: none;
      display: none;
        .us__l-content__tab-content__mypage-item-list__faild {
          padding: 110px 0 110px;
          text-align: center;
          font-size: 16px;
          color: #ccc;
        }
        li {
          position: relative;
        }
      }
    }
  }

  .us__l-side {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &__mypage-nav {
      &__mypage-nav-list {
        li:first-child {
          border: 0;
        }
        li {
          border-top: 1px solid #eee;
          .us__l-side__mypage-nav__mypage-nav-list__item {
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
            .fas {
              position: absolute;
              top: 50%;
              right: 16px;
              color: #ccc;
              transform: translate(0, -50%);
              transition: all ease-out .2s;
            }
            .us__l-side__mypage-nav__mypage-nav-list__item__icon-arrow-right:before {
              content: "\f054";
              font-weight: 400;
              font-family: "Font Awesome 5 Free";
            }
          }
        }
      }
    }
    ul {
      list-style: none;
      a {
        text-decoration: none;
      }
    }
  }



}

main {
  display: block;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}