.uso {
  background: #f5f5f5;
  .uso__container {
    margin: 40px auto;
    width: 1020px;
    &__list {
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      background: #fff;
      padding: 64px;
      &__btn {
        max-width: 320px;
        margin: 0 auto;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        a {
          text-decoration: none;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          border: 1px solid transparent;
          transition: all ease-out .3s;
          cursor: pointer;
          text-align: center;
        }
      }
    }
  }
}





